body{
    background-color: darkslategray; 
    font-family: 'Segoe UI';
}

.header{
    display: flex;
    font-family: 'Segoe UI';
    /* padding: 15px;
    padding-left: 25px;
    padding-right: 25px; */
    padding: 0.6rem 0.8rem;
    background-color: #222220;
    color: beige;
    font-size: 1.5rem;
    gap: 1rem;
}

.header-title {
    font-size: 1.8rem;
    font-weight: 800;
    font-style: italic;
}

a{
    color: beige;
}

a:hover{
    color: #017b7e;
    text-decoration: none;
}

.container{
    margin-top: 100px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
}

.form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
}

.list-container {
    line-height:200%; 
    font-size:20px; 
    margin-bottom: 20px;
}