<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"> 
    <!-- <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}"> -->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
</head>
<body>
    <header class="header">
        <a href="/">Home</a>
        <a href="{{ url_for('about') }}">About</a>
    </header>
    <div class="container">
        <h1 style="color:beige"><strong><em>About</em></strong></h1>
        <ul style="color:beige">
            <li>This is a search engine built from scratch that is capable of handling 10000s documents 
                and web pages with a query response of under 300 ms</li>
            <li>The inverted index is created by Porter Stemming the words that is parsed from 
                the documents or webpages and assigning each term a weighted tf-idf score that will be used to
                rank the retrieval results</li>
            <li>A word is given more weight or importance depending on its html tag</li>
            <li>Implemented ranked retrieval that has stop word processing and term at a time retrieval</li>
        </ul>
    </div>
</body>
</html>