<!DOCTYPE html>
<html>
<head>
    <title>ZOT Query</title>
    <style>
        div.container {
            padding-top: 100px;
            text-align: center;
        }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body style="background-color: darkslategray; font-family: 'Segoe UI'">
    <a class="btn btn-light btn-outline-secondary" style="margin-left: 10px; margin-top: 10px; color:black" href="/">Home</a>
    <div class=container>
        <h1 style="font-size:150px; color:beige"> <strong><em>ZOT Query</em></strong> </h1>
        <br>
        <form action="#" method="post" autocomplete="off">
            <p> <input type="text" name="input" placeholder="Enter Query Here" /> </p>
            <p> <input type="submit" value="Search" /> </p>
        </form>
        <p style="font-size:25px;color:beige"> {{queries}} </p>
        <p style="font-size:20px; line-height:50%;color:beige"> {% if queries %} in <em>{{time}}</em> ms.{% endif %} </p>
    </div>
    <br>
    <div style="line-height:200%; font-size:20px; margin-bottom: 20px;">
        {% for i in range(urllist|length) %}
        <li class="list-group-item list-group-item-light" style="margin-left: 40px; margin-right: 40px;">
            {{i+1}}. <a href="{{urllist[i]}}" style="color:rgb(232, 128, 2)">{{urllist[i]}}</a>
        </li>
        {% endfor %}
    </div>
</body>
</html>